
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/login" class="navbar-link">
                        <span class="glyphicon glyphicon-home">
                        </span>
                </a>
            </p>
            <a class="navbar-brand">
                Admin Control
            </a>
        </div>
    </div>
</nav>



<div class="container" style="margin-top: 40px">

    <div ng-show="model.success" class="alert alert-success animated fadeInDown" id="hideSuccess">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger animated fadeInDown" id="hideError">
        {{model.error}}
    </div>
    <h3>All Users</h3>

    <ul class="list-group">
        <li ng-repeat="user in model.users" class="list-group-item myItem">
            {{user.username}}
            <a style="margin-right: 5px" ng-click="model.deleteUser(user._id)" class="pull-right">
                <span class="glyphicon glyphicon-trash"></span>
            </a>

        </li>

    </ul>

</div>

<div class="container" style="margin-top: 0px">
    <h3>All Music</h3>

    <ul class="list-group">
        <li ng-repeat="music in model.musics" class="list-group-item myItem">
            {{music.name}}
            <audio class="pull-right" style="margin-top: -5px" src="{{music.url}}" controls>
                <p>If you are reading this, it is because your browser does not support the audio element.</p>
            </audio>
            <a style="margin-right: 5px" ng-click="model.deleteMusic(music._id)" class="pull-right">
                <span class="glyphicon glyphicon-trash"></span>
            </a>


        </li>

    </ul>

</div>

<div class="container" style="margin-bottom: 50px">
    <h3>All Albums</h3>

    <ul class="list-group">
        <li ng-repeat="album in model.albums" class="list-group-item myItem">
            {{album.name}}
            <a style="margin-right: 5px" ng-click="model.deleteAlbum(album._id)" class="pull-right">
                <span class="glyphicon glyphicon-trash"></span>
            </a>


        </li>

    </ul>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
