<div class="container">

    <div ng-show="model.error" class="alert alert-danger animated fadeInDown" id="hideError">
        {{model.error}}
    </div>

    <h2>Register</h2>
    <input ng-model="username"
           class="form-control"
           placeholder="username"
           type="text"/>
    <input ng-model="password"
           class="form-control"
           placeholder="password"
           type="password"
           style="margin-top: 5px">
    <input ng-model="verifyPassword"
           class="form-control"
           placeholder="verifyPassword"
           type="password"
           style="margin-top: 5px">
    <a ng-click="model.register(username, password, verifyPassword)"
       class="btn btn-primary btn-block"
       style="margin-top: 5px">Register</a>
    <a class="btn btn-danger btn-block"
       href="#/login"
       style="margin-top: 5px">Cancel</a>
</div>




