
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a ng-click="model.goBack()" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand">
                All Shares In Music-Share
            </a>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 60px">
    <div ng-show="model.success" class="alert alert-success" id="hideSuccess">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger" id="hideError">
        {{model.error}}
    </div>
    <h1>allShareMusic</h1>

    <ul class="list-group">
        <li ng-repeat="share in model.shareMusics" class="list-group-item  myItem">
            <a ng-click="model.getInformation(share.type, share._id, share._user)">{{share.name}}</a>
            <audio class="pull-right" style="margin-top: -5px" src="{{share.url}}" controls>
                <p>If you are reading this, it is because your browser does not support the audio element.</p>
            </audio>
            <a style="margin-right: 5px" ng-click="model.addLike(share._id, share.type, share.name)" class="pull-right">
                <span style="color:cornflowerblue" class="glyphicon glyphicon-heart"></span>
            </a>

        </li>

    </ul>

</div>

<div class="container" style="margin-bottom: 50px">
    <h1>allShareAlbums</h1>

    <ul class="list-group">
        <li ng-repeat="share in model.shareAlbums" class="list-group-item myItem">
            <a ng-click="model.getInformation(share.type, share._id, share._user)">{{share.name}}</a>
            <a ng-click="model.addLike(share._id, share.type, share.name)" class="pull-right">
                <span style="color:cornflowerblue" class="glyphicon glyphicon-heart"></span>
            </a>
        </li>

    </ul>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a ng-click="model.goToProfile()">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
