input {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
}
p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

span.glyphicon {
    color: black;
}

span.glyphicon-cog {
    color: cornflowerblue;
}
span.glyphicon-user {
    color: cornflowerblue;
}
span.glyphicon-play {
    color: cornflowerblue;
}

a:link{
    text-decoration: none;
}

span.plyphicon-chevron-left {
    padding-left: 15px;
}