input {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
}
p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

span.glyphicon {
    color: black;
}

span.glyphicon-cog {
    color: cornflowerblue;
}
span.glyphicon-user {
    color: cornflowerblue;
}
span.glyphicon-play {
    color: cornflowerblue;
}

a:link{
    text-decoration: none;
}

span.plyphicon-chevron-left {
    padding-left: 15px;
}

.jga-widget-tool {
    position: absolute;
    right: 20px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    z-index: 1;

}

div.jga-widget {
    margin-left: 10px;
    margin-right: 20px;
}