
input {
    margin-bottom: 5px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

span.glyphicon {
    color: black;
}

span.glyphicon-cog {
    color: cornflowerblue;
}
span.glyphicon-user {
    color: cornflowerblue;
}
span.glyphicon-play {
    color: cornflowerblue;
}

span.glyphicon {
    color: cornflowerblue;
}

a:link{
    text-decoration: none;
}


.button {
    display: inline-block;
    border-radius: 4px;
    border: groove;
    color: aliceblue;
    background-color: transparent;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;

}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.form-reset {
    display-model: block;
    display: initial;
    width: 100%;
    height: 43px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    background: none;
    border-radius: 4px;
    border: 2px solid midnightblue;
    color: white;
    box-shadow: none;
}
.btn.btn-lg.form-reset {
    background: none;
    border-radius: 4px;
    border: 2px solid midnightblue;
    color: midnightblue;
    box-shadow: none;
}

.alert.alert-danger.form-reset {
    max-width: 100%;
    padding-left: 90px;
    padding-right: 90px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    box-shadow: none;
}

.smallContainer.row{
    max-width: 300px;
    margin-top:-540px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.col-xs-12.col-sm-12.col-md-12 {
    max-width: 100%;
    color: midnightblue;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.list-group-item {
    margin-top: 1px;
}


