
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/shares" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand">Edit Music</a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateShare()" class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 60px">

    <div ng-show="model.success" class="alert alert-success animated fadeInDown" id="hideSuccess">>
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger animated fadeInDown" id="hideError">
        {{model.error}}
    </div>

    <form>
        <label for="shareName">Name</label>
        <input ng-model="model.share.name"
               type="text"
               class="form-control"
               id="shareName"
               placeholder=""/>
        <label for="Description">Description</label>
        <textarea ng-model="model.share.description"
                  placeholder="Description"
                  class="form-control"
                  id="Description"
                  rows="4"></textarea>
    </form>
    <form action="/api/upload"  method="post" enctype="multipart/form-data">
        <label>Upload</label>
        <input  name="myFile"   type="file" accept="audio/*" class="form-control"/>
        <input  name="musicId"    value="{{model.shareId}}" style="display: none"/>
        <input  name="name"    value="{{model.share.name}}" style="display: none"/>
        <input  name="description"    value="{{model.share.description}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}" style="display: none"/>
        <input  name="type"    value="{{model.share.type}}" style="display: none"/>
        <input  name="shareId"    value="{{model.shareId}}" style="display: none"/>
        <button style="margin-top: 5px" type="submit" class="btn btn-primary btn-block">Upload MusicFile</button>
    </form>
    <a class="btn btn-danger btn-block" ng-click="model.deleteShare()" style="margin-top: 5px">Delete</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>