
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/profile/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand">
                My Shares
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/shares/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container" style="margin-top: 40px">
    <h1>shareMusic</h1>

    <ul class="list-group">
        <li ng-repeat="share in model.shareMusics" class="list-group-item myItem">
            {{share.name}}

            <audio class="pull-right" style="margin-top: -5px" src="{{share.url}}" controls>
                <p>If you are reading this, it is because your browser does not support the audio element.</p>
            </audio>
            <a href="#/user/{{model.userId}}/shares/music/{{share._id}}/edit" class="pull-right"
               style="margin-right: 5px">
                <span class="glyphicon glyphicon-cog"></span>
            </a>


        </li>

    </ul>

</div>

<div class="container" style="margin-bottom: 50px">
    <h1>shareAlbums</h1>

    <ul class="list-group">
        <li ng-repeat="share in model.shareAlbums" class="list-group-item myItem">
            {{share.name}}
            <a style="margin-left: 5px" href="#/user/{{model.userId}}/shares/album/{{share._id}}/addmore" class="pull-right">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a href="#/user/{{model.userId}}/shares/album/{{share._id}}/edit" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>

    </ul>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
