

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand">Edit Page</a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updatePage(model.page.name)" class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">

    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form>
        <label for="name">Name</label>
        <input ng-model="model.page.name"
                type="text"
               class="form-control"
               id="name"
               placeholder="Page Name">
        <label for="title">Blog Post</label>
        <input type="text"
               class="form-control"
               id="title"
               placeholder="Page Title">
        <a class="btn btn-danger btn-block" ng-click="model.deletePage()" style="margin-top: 5px">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>