<div class="container">
    <form>
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               placeholder="">
        <label for="text">Text</label>
        <input ng-model="model.widget.text"
               class="form-control"
               id="text"
               placeholder=""/>
        <label for="rows">Rows</label>
        <input ng-model="model.widget.rows"
               class="form-control"
               id="rows"
               placeholder=""
               type="number"/>
        <label for="Placeholder">Placeholder</label>
        <input ng-model="model.widget.placeholder"
               class="form-control"
               id="Placeholder"
               placeholder=""/>
        <label for="Formatted">Formatted</label>
        <input ng-model="model.widget.formatted"
               class="form-control"
               id="Formatted"
               placeholder=""
               type="checkbox"/>
        </form>
    </div>
