<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/{{model.pageId}}/widget"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand">Widget Edit</a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()" class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container" scrolling="yes">
    <!--{{model.widget}}-->

    <div ng-switch="model.widget.type">
        <div ng-switch-when="HEADING">
            <ng-include src="'/assignment/views/widget/widget-heading.view.client.html'"/>
        </div>

        <div ng-switch-when="IMAGE">
            <ng-include src="'/assignment/views/widget/widget-image.view.client.html'"/>
        </div>

        <div ng-switch-when="YOUTUBE">
            <ng-include src="'/assignment/views/widget/widget-youtube.view.client.html'"/>
        </div>
        <div ng-switch-when="HTML">
            <ng-include src="'/assignment/views/widget/widget-html-edit.view.client.html'"/>
        </div>
        <div ng-switch-when="TEXT">
            <ng-include src="'/assignment/views/widget/widget-text-edit.view.client.html'"/>
        </div>

    </div>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()"
       style="margin-top: 5px; padding-left: 0px; padding-right: 0px; width: inherit; margin-left: 15px;
       margin-right: 15px;">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>