<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand">Widgets</a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/{{model.pageId}}/widget/new"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<wam-sortable sort="model.sortWidget(start, stop)"
              data="model.widgets"></wam-sortable>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <span class="glyphicon glyphicon-play" style="color: black;"></span>
                <span class="glyphicon glyphicon-eye-open" style="margin-left: 5px"></span>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
