
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/{{model.pageId}}/widget" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand">Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container">

    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.createWidget('header')">Header</a>
        </li>

        <li class="list-group-item">
            Label
        </li>

        <li class="list-group-item">
            HTML
        </li>

        <li class="list-group-item">
            Text Input
        </li>

        <li class="list-group-item">
            Link
        </li>

        <li class="list-group-item">
            Button
        </li>

        <li class="list-group-item">
            <a ng-click="model.createWidget('image')">Image</a>
        </li>

        <li class="list-group-item">
            <a ng-click="model.createWidget('youtube')">YouTube</a>
        </li>

        <li class="list-group-item">
            Data Table
        </li>

        <li class="list-group-item">
            Repeater
        </li>
        </ul>

</div>



