

<div class="container">
    <form>
        <label for="name">Name</label>
        <input ng-model="model.widget.name"
                type="text"
               class="form-control"
               id="name"
               placeholder="Name">
        <label for="text">Text</label>
        <input ng-model="model.widget.text"
                type="text"
               class="form-control"
               id="text"
               placeholder="PUS Senate Reaches Compromise on Emerges">
        <label for="size">Size</label>
        <input type="text"
               ng-model="model.widget.size"
               class="form-control"
                id="size"
                placeholder="3">

    </form>
</div>


